package view

import "jobsearch/app/views/layouts"

templ Index() {
	@layouts.App() {
		<div class="text-center">
			<h1 class="text-3xl font-bold underline text-red-800">
				Under Construction. Come back later
			</h1>
		</div>
	}
}
